[Unit]
Description=Craftbeer Pi
After=mosquitto.service influxdb.service

[Service]
WorkingDirectory=/home/{{ user }}
ExecStartPre=/bin/sleep 5
ExecStart={{ path }} start
KillSignal=SIGKILL
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
